<section id="gallery" class="container">
  <div class="row">
    <ul class="image-gallery list-unstyled col-12">
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
        <li class="image-gallery__item">
            <div class="image-gallery__image-mask"></div>
            <img src="/images/artwork.jpg" alt="" class="image-gallery__image">
        </li>
    </ul>
  </div>
</section>