<nav id="main-menu">
  <ul class="main-menu list-unstyled list-inline">
      <li class="main-menu__item main-menu__item--instagram">
        <a href="https://www.instagram.com/bardic_inspiration_graphics/" class="main-menu__link" target="_blank">
          <i class="icon icon--sm icon--instagram"></i>
          Follow on Instagram
        </a>
      </li>
      <li class="main-menu__item main-menu__item--tiktok">
        <a href="https://www.tiktok.com/@jtmonnichgraphics" class="main-menu__link" target="_blank">
          <i class="icon icon--sm icon--tiktok"></i>
          Follow on TikTok
        </a>
      </li>
  </ul>
</nav>