<nav id="main-menu">
  <ul class="main-menu list-unstyled list-inline">
      <!-- <li class="main-menu__item"><a href="/gallery.html" class="main-menu__link">Gallery</a></li>
      <li class="main-menu__item"><a href="/about" class="main-menu__link">About</a></li> -->
      <li class="main-menu__item"><a href="/instagram" class="main-menu__link"><i class="icon icon--sm icon--instagram"></i>Follow on Instagram</a></li>
      <li class="main-menu__item"><a href="/tik-tok" class="main-menu__link"><i class="icon icon--sm icon--tiktok"></i>Follow on TikTok</a></li>
  </ul>
</nav>