/* 
 * Icons.scss
 *
 * Provides a set of reusable icons.
 */

.icon {
  display: inline-block;
  margin-right: 10px;

  height: 45px;
  width: 45px;

  &--block {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &--sm {
    width: 30px;
    height: 30px;
    margin-right: 6px;
  }

  &--lg {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }

  $icons: (
    "instagram": "images/icons/instagram.svg",
    "tiktok": "images/icons/tiktok.svg",
    "chevron-down": "images/icons/chevron-down.svg"
  );

  @each $name, $path in $icons {
    &--#{$name}::before {
      content: url(#{$path});
    }
  }
}
