/* 
 * Gallery.scss
 *
 * Styles responsible for the structure and display of the gallery component.
 */

.image-gallery {
  $component: &;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: auto;
  grid-gap: 30px;
  list-style: none;
  margin: 0;
  padding: 60px 0;

  &__item {
    position: relative;
    outline: 4px solid black;
    overflow: hidden;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }

  &__image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
  }

  &__image-mask {
    position: absolute;
    background-color: transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    &__item {
      height: 150px;
    }
  }
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  @include media-breakpoint-up(lg) {
    &__item {
      height: 200px;
    }
  }

  &--open {
    #{$component}__item--active {
      position: fixed;
      z-index: 200;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: auto;
      height: auto;
      background-color: rgba(0, 0, 0, 0.8);

      img {
        max-height: 100vh;
        max-width: 100vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    #{$component}__close {
      display: block !important;
      z-index: 600;
      position: absolute;
      top: 30px;
      right: 30px;
      color: white;
      line-height: 50px;
      font-size: 90px;
      font-weight: 200;
      padding: 15px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
