/* 
 * Marquee.scss
 *
 * Styles for page marquee.
 */

body.splash-load {
  position: relative;
  // overflow: hidden;
  z-index: 100;

  
}
// body:not(.splash-load) {
//   .marquee--banner {
//     height: 0;
//     overflow: hidden;
//   }
// }

.marquee {
  position: relative;
  transition: height 0.8s ease;
  height: 100vh;
  width: 100vw;
  background-image: url("/images/gallery/2.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;

  &__scroll-trigger {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
    background-color: rgba(#fff, 0.45);
    border-radius: 100%;
    padding: 12px 10px 8px;
    width: 75px;
    height: 75px;
    box-shadow: 4px 4px 8px black;
    animation: bounce 1s infinite alternate;
  }

  &__logo{
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10%;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0.35057773109243695) 50%, rgba(255,255,255,0) 75%);

    img {
      display: block;
      max-width: 50vw;
      height: auto;

      @include media-breakpoint-up(md) {
        max-width: 30vw;
      }
  
      @include media-breakpoint-up(xl) {
        max-width: 20vw;
      }
    }
  }
}
  

@keyframes bounce {
  from {
    transform: translateX(-50%) translateY(0px);
  }
  to {
    transform: translateX(-50%) translateY(-15px);
  }
}