html, body {
  height: 100vh;
  overflow: hidden;
}

.scroll {
  &__container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
  }

  &__zone {
    min-height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}