/* 
 * Header.scss
 *
 * Styles associated with the display and structure of the site header.
 */

@import 'main-menu';

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#site-logo {
  min-width: 200px;

  img {
    max-width: 175px;
  }
}
