/* 
 * Main-menu.scss
 *
 * Styles associated with the display and structure of the main-menu.
 */

#main-menu {
  flex: 1 1 auto;
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  &__item {
    height: 45px;
    display: inline-block;
  }

  &__link {
    display: block;
    padding: 15px 45px;
    font-size: 1.2em;
    display: inline-flex;
    align-items: center;
  }
}
