/* 
 * Page.scss
 *
 * Contains all core page styles.
 */


html {
  background-color: rgb(177,177,170);
  background-image: url("../images/paper-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}

body{
  background-color: rgba(#efefef, 0.6);
  min-height: 100vh;
}

/* 
 * HEADER
 */
#header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @include media-breakpoint-up(sm) {
    justify-content: space-between;
  }
}

/* 
 * MAIN-MENU
 */
.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;

  &__link {
    display: block;
    padding: 15px;
    font-size: 0.8em;
    display: inline-flex;
    align-items: center;

    .icon {
      width: 30px;
      height: 30px;
      margin-left:10px;
    }
  }

  @include media-breakpoint-up(sm) {
    flex-direction: row;
    justify-content: flex-end;
  }

  @include media-breakpoint-up(md) {
    &__link {
      font-size: 1em;

      .icon {
        width: 42px;
        height: 42px;
      }
    }
  }
}

/* 
 * LOGO
 */
#site-logo {

  img {
    max-width: 100px;
  }

  @include media-breakpoint-up(lg) {

    img {
      max-width: 175px;
    }
  }
}

/* 
 * FOOTER
 */
#footer {
  padding: 30px 15px;
  text-align: right;
}