/* 
 * Main.scss
 *
 * This is the root stylesheet responsible for orchestrating the assembly of the other stylesheets.
 */

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1600px
);

$container-max-widths: (
  sm: 720px,
  md: 960px,
  lg: 1140px,
  xl: 1400px
);

@import 'bootstrap';

@import 'core/colors';
@import 'core/fonts';

@import 'utilities/utilities';
@import 'utilities/icons';

@import 'template/page';
@import 'content/gallery';
@import 'content/marquee';
